body{
  margin: 10px;
}

a [href*="google"] {
  color: teal;
}
a[href*="yahoo"]{
  color: violet;
}

  #products > p{
    color: red;
  }

  #products ~ p{
    color: blue;
  }

  article p:first-of-type {
    font-size: 140%;
    font-style: italic;
  }
  article :last-child{
    font-weight: bold;
  }
  
  ul li:nth-child(odd) {
    color: deeppink;
  }
  a:visited ,a:link {
    color: dodgerblue;
  }
  a:hover , a:focus{
    color: darkslategrey;
  }

